.about {
    background: #f2f2f2;
    display: flex;
    align-items: center;
    position: relative;
    padding: 80px 20px;
    &__info {
        padding: 50px 0;
        h1 {
            font-size: 40px !important;
            text-align: center;
        }
        p {
            color: #2d3436;
            width: 100%;
            text-align: center;
            margin: 0 auto;
            line-height: 1.8;
            font-size: 18px;
            @media (min-width: 768px) {
                padding: 30px 0 50px 0;
                text-align: center;
                width: 80%;
            }
        }
    }
    &__mv {
        padding: 30px 0 50px 0;
        &>div:first-child {
            margin-bottom: 50px;
            border-right: 1px solid lightgray;
            @media(max-width: 768px) {
                border: none;
            }
        }
        i {
            font-size: 50px;
            margin-right: 20px;
        }
        h3 {
            font-size: 26px;
            text-align: center;
            margin-bottom: 30px;
        }
        p {
            color: #2d3436;
            font-size: 16px;
            text-align: center;
            line-height: 1.6;
            width: 100%;
            margin: 0 auto;
        }
        @media (min-width: 768px) {
            padding: 50px 0 100px 0;
            h3 {
                font-size: 30px;
            }
            p {
                width: 80%;
            }
        }
    }
}